:root {
	--mainColor: #444;
	--secondColor: rgb(188, 235, 62);
}
* {
	box-sizing: border-box;
}
a {
	color: white !important;
	transition: all 0.5s ease-out;
}
a:hover {
	color: var(--secondColor);
}
#root {
	width: 100vw;
	background-image: url("http://www.nhm.ac.uk/resources/visit/wpy/2015/large/98.jpg");
	background-size: cover;
	min-height: 100vh;
	background-position: 49%;
}
#root > div {
	background-color: rgba(68, 68, 68, 0.8);
}
.app {
	min-height: calc(100vh - 147px - 100px);
}
.footer {
	background: rgba(84, 240, 123, 0.2);
	height: 100px;
}
.banner {
	background: rgb(145, 25, 25) !important;
}
.navbar-brand {
	color: #fff !important;
}
.navbar {
	background-color: rgba(68, 68, 68, 0.5);
	width: 100vw;
	min-height: 100px;
}
.navbar a {
	color: white;
}
.navbar .container {
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 0.5fr auto;
	justify-content: center;
	align-content: center;
}
.videoList__top {
	width: 100%;
	height: 200px;
}
.videoList__top .background {
	width: 100%;
	height: 200px;
	background-position: 49%;
	position: absolute;
	z-index: 0;
	filter: blur(3px);
}
.videoList__top .background::after {
	content: '';
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: -1;
	background-color: rgba(202, 33, 75, 0.2);
}

.videoList__top .content {
	height: 200px;
	display: grid;
	justify-content: center;
	align-content: center;
}
.videoList__top .content h1 {
	z-index: 1;
	font-size: 38px;
	font-weight: bold;
}

.videoList__container {
	width: 100%;
}

.videoList_search {
	margin: 1rem;
}

.videoList_search input {
	font-size: 22px;
	width: 100%;
	height: 45px;
	text-align: center;
	margin: 1rem 0;
}
.videoList_search .pagination {
	width: 100%;
}
.paginationBar {
	width: 100% !important;
	justify-content: center;
	text-align: center;
}
.videoList_items {
	display: grid;
	width: 100%;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	transition-duration: 1s;
	justify-content: center;
	align-content: center;
}
.videoList_items .box {
	width: 100%;
}
.videoList_items .box .description {
	text-align: center;
}
.descriptionView {
	width: 100%;
	min-height: 10px;
	font-size: 26px;
	background: white;
	margin: 0;
	padding: 2rem;
	display: grid;
	grid-template-columns: 0.3fr 1fr;
}
.description h1 {
	color: var(--secondColor);
}
.description p {
	color: var(--mainColor);
}
.my-facebook-button-class {
	margin-left: 15px;
	padding: 9px 15px 5px 10px;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: calc(.27548vw + 12.71074px);
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color .3s, border-color .3s;
	background-color: #4c69ba;
	border: calc(.06887vw + .67769px) solid #4c69ba;
}
.my-facebook-button-class i {
	padding: 5px;
}
.my-twitter-button-class {
	margin-left: 15px;
	padding: 9px 15px 5px 10px;
}

.main-upload-video {
	min-height: calc(100vh - 114px);
}
.main-upload-video > form {
	display: grid;
	grid-gap: 5%;
	padding: 5vw;
	grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
}
.main-upload-video > form > span {
	min-height: 100px;
	display: grid;
}
.main-upload-video > form > span > label {
	font-size: 2rem;
	margin-left: 1vw;
}

/* background */
.ReactTags__tags {
	font-family: 'Courier New', Courier, monospace;
	color: white;
}
.ReactTags__tagInput {
}
.ReactTags__tagInputField {
	width: 100%;
	border: 1px solid black;
	padding: 2%;
}
.ReactTags__selected {
}
.ReactTags__selected {
	padding: 2%;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
}
.ReactTags__tag {
	margin-left: 5px;
}

.pagination {
	padding: 0 39%;
}
.pagination > a {
	color: black !important;
}
